* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding: 8px 16%;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

li {
    list-style-type: none;
}

.header-links {
    display: flex;
    gap: 16px;
    color: #f9faf8;
}

.hero {
    display: flex;
    gap: 48px;
    margin: 100px 0px;
}

.hero-info {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-btn {
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 6px;
    padding: 8px 32px;
    font-weight: bold;
    margin-top: 16px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    flex: 1;
}

.subtitle.inverted {
    color: black;
    text-align: center;
}

.info {
    padding: 8px 22%;
    margin: 76px 0px;
}

h2 {
    margin-top: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.card-img {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 4px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 100px 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quotee {
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    margin-top: 12px;
}

.cta-container {
    padding: 8px 16%;
    margin: 76px 0px;
}

.cta {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 36px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

h3 {
    color: white;
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
}

.signup-btn-inverted {
    background-color: #3882F6;
    color: #f9faf8;
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 32px;
    font-weight: bold;
    flex-shrink: 0;
}


.footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}